.cart-section {
  width: 75%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  .cart-header {
    border-bottom: 1px solid black;
    padding: 15px 10px;
  }
}

.cart-items {
  .cart-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #c0c0c0;
    box-shadow: 2px 2px 3px #c0c0c0;
    margin: 20px 10px;
    padding: 15px;
    height: 100px;
    .cart-item-img {
      width: 10%;
      padding: 8px;
      border: 1px solid #c0c0c0;
    }

    .cart-item-content {
      width: 87%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      p {
        margin-bottom: 3px;
      }
      .remove-cart-item-btn {
        border: 1px solid #2a5ea5;
        padding: 10px;
        color: #2a5ea5;
        border-radius: 5px;
      }
    }
  }
}
