.product-section {
  width: 20%;
}
.product-section img {
  width: 100%;
  height: 150px;
  padding: 5px;
  border: 1px solid #c0c0c0;
}
.product-section .product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.product-section button {
  display: block;
  background-color: #2a5ea5;
  width: 100%;
  color: white;
  border: 0;
  border-radius: 6px;
  padding: 7px;
  cursor: pointer;
}

.product-modal .close-modal-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
  cursor: pointer;
}
.product-modal img {
  width: 40%;
  display: block;
  margin: 20px auto;
}
.product-modal p {
  text-align: center;
  color: #2a5ea5;
  font-size: 20px;
  margin: 10px 0;
}