.navbar ul {
  display: flex;
  background-color: #ddd;
  list-style: none;
  padding: 10px 35px;
}

.navbar ul li a {
  display: block;
  background-color: black;
  color: #fff;
  margin-right: 5px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.navbar ul li a.active {
  background-color: #2a5ea5;
}
