.cart-section {
  width: 75%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
.cart-section .cart-header {
  border-bottom: 1px solid black;
  padding: 15px 10px;
}
.cart-section .cart-items .cart-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #c0c0c0;
  box-shadow: 2px 2px 3px #c0c0c0;
  margin: 20px 10px;
  padding: 15px;
  height: 100px;
}
.cart-section .cart-items .cart-item .cart-item-img {
  width: 10%;
  padding: 8px;
  border: 1px solid #c0c0c0;
}
.cart-section .cart-items .cart-item .cart-item-content {
  width: 87%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.cart-section .cart-items .cart-item .cart-item-content p {
  margin-bottom: 3px;
}
.cart-section .cart-checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.cart-section .cart-checkout .total-price {
  font-size: 20px;
}